{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="about">
        <div class="container">
        <div class="avatar">
          <img class="img-circle" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
        </div>
        <h3>I'm <strong>{{ .Site.Params.author }}</strong>, a Senior Software Engineer from Lviv, Ukraine.</h3>
        <h3>I love all things that are connected with mobile technology and management.</h3>
        <h3>Have a look at my <strong>own </strong> working <a href="https://itunes.apple.com/us/developer/oleg-gordiichuk/id1218981672"> projects</a> and a <strong>startup</strong> I am involved in <a href="https://stocks.exchange"> $ </a>.</h3>
        <h3>Contact me via social networks or by <a href="mailto:{{ .Site.Params.Social.Email }}">email</a>.</h3>
        {{ partial "social.html" . }}
        </div>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
